.card {
  background-color: #edede9;
  padding: 1.5rem;
  border-radius: 12px;
  max-width: 500px;
  margin: 1rem auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.snippet-form label {
  display: block;
  margin-bottom: 1em;
}

.snippet-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.snippet-form input,
.snippet-form select,
.snippet-form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.snippet-card {
  background: #edede9;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  max-width: 600px;
  margin: 1rem auto;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.snippet-card summary {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem 0;
}

.snippet-card summary::marker {
  color: #555;
}

.snippet-card details {
  border: none;
}

.snippet-language::first-letter {
  text-transform: uppercase;
}

.snippet-card button {
  margin-right: 0.5rem;
}

.delete-button {
    background-color: var(--red-3);
}

.delete-button:hover {
  background-color: var(--red-6);
}

.error {
    color: var(--red-8);
}